body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navheader {
  background-color: #1f2937;
  color: #f9faf8;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0px;
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}

.herocontainer {
  background-color: #1f2937;
  color: #f9faf8;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  gap: 30px;
}

.herocontent {
  width: 500px;
}

.heroplaceholder {
  display: flex;
  background-color: gray;
  color: #f9faf8;
  padding: 30px;
  align-items: center;
  justify-content: center;
  flex-basis: 60%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.container p {
  width: 150px;
  text-align: center;
}

.container h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.card {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.cardrow {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.inspo {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 80px;
  color: #1f2937;
  font-size: 32px;
  font-weight: 300;
  font-style: oblique;
  align-items: center;
}

.inspo p {
  width: 650px;
  margin-bottom: 0px;
}

.inspo h3 {
  margin: 0px;
  font-size: 32px;
}

.footercontainer {
  display: flex;
  background-color: #3882f6;
  border-radius: 8px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer {
  color: #f9faf8;
  padding-left: 10%;
  padding-right: 10%;
}

.footercontent {
  padding: 36px;
  padding-left: 250px;
  flex-basis: 30%;
}

.containerbutton button {
    border: 3px solid #f9faf8;
    margin-top: 80px;
    margin-left: 200px;
    width: 130px;
}